@tailwind base;
@tailwind components;
@tailwind utilities;

/*======================
    Dashboard
=======================*/

.AppGlass {
  display: grid;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 15rem auto 15rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}

/*======================
    Home Page
=======================*/
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.title {
  color: white !important;
}
.footer-titles {
  margin-bottom: 0.5rem/* 8px */;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.8;
}
.bgs-container {
  background: radial-gradient(
    circle,
    rgb(209, 127, 55) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 0.5;
  z-index: -1;
}


.bgss-container {
  background: radial-gradient(
    circle,
    rgb(249, 31, 31) 20%,
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 0.5;
  z-index: -1;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}


/* Navbar */

.nav-btn {
  position: relative;
  padding: 0 10px;
  transition: color 0.3s;
}

.nav-btn:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fcd015, #ff9d00);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s, width 0.3s; 
}


.nav-btn:hover:after {
  width: 100%; 
}


.Nav > li {
  position: relative;
  padding: 0 10px;
  transition: color 0.3s;
}
.Nav > li:after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fcd015, #ff9d00);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s, width 0.3s; 
}

.Nav > li:hover:after {
  width: 100%;
}

.custom-border-gradient {
  border-width: 2px;
  border-image: linear-gradient(to right, #3b82f6, #8b5cf6);
  border-image-slice: 1;
  border-style: solid; /* Ensure solid border style */
  border-radius: 0.375rem; /* You can adjust the border-radius as needed */
  line-height: 1;
  padding: 0.660rem 1.232rem;
}


.chronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  border-radius: 0.7rem;
  padding: 0.815rem 1.232rem;
  cursor: pointer;
  border: none;
  background: white;

  transition: background 0.4s linear;
  will-change: background;
}

.chronicle-button:hover {
  background: #a594fd;
  color: white !important;
}

.chronicle-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.chronicle-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}






/* custom button */
.Achronicle-buttonss {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  padding: 0.815rem 1.232rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: #a594fd;

  transition: background 0.4s linear;
  will-change: background;
}

.Achronicle-buttonss {
  background: linear-gradient(to right, #3b82f6, #8b5cf6 );
}

.Achronicle-buttonss:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.Achronicle-buttonss:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}


/* custom button */
.Achronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  padding: 0.815rem 1.232rem;
  cursor: pointer;
  border: none;
  background: #a594fd;

  transition: background 0.4s linear;
  will-change: background;
}

.Achronicle-button {
  background: linear-gradient(to right, #3b82f6, #8b5cf6 );
}

.Achronicle-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.Achronicle-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}

span {
  position: relative;
  display: block;
  perspective: 108px;
}

span:nth-of-type(2) {
  position: absolute;
}

em {
  font-style: normal;
  display: inline-block;
  font-size: 1.125rem;
  color: black;
  font-weight: 600;
  will-change: transform, opacity, transition;
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.2s;
}

span:nth-of-type(1) em {
  transform-origin: top;
}

span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}





/* custom button create store*/
.Achronicle-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  padding: 0.815rem 1.232rem;
  cursor: pointer;
  border: none;
  background: #50d850;

  transition: background 0.4s linear;
  will-change: background;
}

.Achronicle-buttons {
  background: #50d850, #7be77b;
}

.Achronicle-buttons:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.Achronicle-buttons:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}

span {
  position: relative;
  display: block;
  perspective: 108px;
}

span:nth-of-type(2) {
  position: absolute;
}

em {
  font-style: normal;
  display: inline-block;
  font-size: 1.125rem;
  color: black;
  font-weight: 600;
  will-change: transform, opacity, transition;
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.2s;
}

span:nth-of-type(1) em {
  transform-origin: top;
}

span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}





/*======================
    404 page
=======================*/



.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 font-family: sans-serif;
 font-weight: 800;
 }
 

 /************************/

 .card-actionss {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem/* 8px */;
}





/* :root { */
  /* --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%); */
  /* --orange: #fca61f; */
  /* --black: #242d49; */
  /* --gray: #788097; */
  /* --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%); */
  /* --pink: #FF919D; */
  /* --glass: rgba(255, 255, 255, 0.54); */
  /* --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%); */
  /* --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08); */
/* } */

/* .App {
  color: #242d49;
  background: linear-gradient(106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
} */




/* background
.absolutes {
  position: absolute;
  top: 100px !important;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  
}

.justify-centeri {
  justify-content: center;
}

.bg-shape1 {
  width: 380px;
  height: 350px;
  border-radius: 9999px;
  position: relative;
}

.bg-blur {
  filter: blur(90px);
}
.bg-primary {
  background-color: rgb(30, 0, 255);
}
.bg-teal {
  background-color: rgb(255, 72, 173);
}
.bg-purple {
  background-color: rgb(140, 0, 215);
} */
