@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.title {
  color: white !important;
}


/* styles.css (or your stylesheet) */
.bgs-container {
  background: radial-gradient(
    circle,
    rgb(209, 127, 55) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 0.5;
  z-index: -1;
}

.bgss-container {
  background: radial-gradient(
    circle,
    rgb(249, 31, 31) 20%,
    rgba(0, 0, 0, 0) 50%
  );
  opacity: 0.5;
  z-index: -1;
}





/* Navbar */

.Nav > li {
  position: relative;
  padding: 0 10px;
}
.Nav > li:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.Nav > li:hover {
  color: #ff3c78;
}
.Nav > li:hover:after {
  width: 100%;
}

.chronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  border-radius: 0.7rem;
  padding: 0.815rem 1.232rem;
  cursor: pointer;
  border: none;
  background: white;

  transition: background 0.4s linear;
  will-change: background;
}

.chronicle-button:hover {
  background: #a594fd;
}

.chronicle-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.chronicle-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.3s;
}

span {
  position: relative;
  display: block;
  perspective: 108px;
}

span:nth-of-type(2) {
  position: absolute;
}

em {
  font-style: normal;
  display: inline-block;
  font-size: 1.125rem;
  color: black;
  font-weight: 600;
  will-change: transform, opacity, transition;
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.35s linear 0.2s;
}

span:nth-of-type(1) em {
  transform-origin: top;
}

span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}

/* background
.absolutes {
  position: absolute;
  top: 100px !important;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  
}

.justify-centeri {
  justify-content: center;
}

.bg-shape1 {
  width: 380px;
  height: 350px;
  border-radius: 9999px;
  position: relative;
}

.bg-blur {
  filter: blur(90px);
}
.bg-primary {
  background-color: rgb(30, 0, 255);
}
.bg-teal {
  background-color: rgb(255, 72, 173);
}
.bg-purple {
  background-color: rgb(140, 0, 215);
} */
